node_modules/
.env
.DS_Store
firebase-service-account.json
js/test-registry.src.js
js/full-test-registry.src.js
js/ME-test-registry.src.js
js/quiz-test-registry.src.js
js/ese-ce-test-registry.src.js
js/ce-test-registry.src.js

.vercel
.env*
js/ee-test-registry.src.js
js/go-test-registry.src.js
